<div class="container">
  <div class="row">
      <div class="col-4">
          <img class="img-fluid" [src]="detailMovie.hinhAnh">
      </div>
      <div class="col-8">
          <div class="row">
              <div class="col-12">
                  <p>{{detailMovie.tenPhim}}</p>
              </div>
              <div class="col-12">
                  <p>{{detailMovie.moTa}}</p>
              </div>
              <div class="col-12">
                  <p>{{detailMovie.ngayKhoiChieu}}</p>
              </div>
          </div>
      </div>
      <!-- <div class="col-12">
          <p>Dữ liệu lấy từ params</p>
          <p>Tên phim: {{nameMovie}}</p>
          <p>Mã phim: {{idMovie}}</p>
      </div> -->
  </div>
</div>