<div class="container py-3">
    <div class="row">
        <div class="col-md-8">
            <h3>What We Do</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit quis repellendus quo. Facere at labore
                corrupti, nam eos, hic pariatur tenetur eligendi repellat dolore nesciunt obcaecati incidunt temporibus
                sint itaque magnam aut deleniti repudiandae dicta fugit, iste quas! Qui?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quia excepturi esse quo expedita beatae
                quis sequi laboriosam. Necessitatibus, repudiandae. Qui assumenda suscipit quaerat beatae laboriosam
                laudantium harum distinctio, aliquam saepe nesciunt incidunt nulla libero?</p>
            <p><button class="btn btn-primary">Call To Action >></button></p>
        </div>
        <div class="col-md-4">
            <h3>Contact Us</h3>
            <h5>Start Bootstrap</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Lorem ipsum dolor sit.</p>
            <p>Lorem ipsum dolor sit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-item></app-item>
        </div>
        <div class="col-md-4">
            <app-item></app-item>
        </div>
        <div class="col-md-4">
            <app-item></app-item>
        </div>
    </div>
</div>