.slider {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555555;
    font-size: 60px;
}