<!-- <button class="btn btn-success">Hello</button> -->
<!-- <app-demo-com></app-demo-com> -->
<!-- <app-hello-world></app-hello-world> -->
<!-- <app-lesson></app-lesson> -->
<!-- <app-bai-tap></app-bai-tap> -->
<!-- <button mat-raised-button color="warn">Warn</button>
<br />
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-dialog></app-dialog>